<div class="detailed-basket-container">
  <div class="top-page">
    <div class="header-top-basket">
      <div class="logo-emits">
        <%= image_tag "#{@final_basket.retailer}.png", alt: "#{@final_basket}", class: "image-logo-basket" %>
        <div class="number-text">
          <h2 class="final-emission"><%= @final_basket.emissions.to_i %></h2>
          <div class="emit-price">
            <h6 class="orange-emits">emits</h6>
            <p class="final-price item"> £<%= '%.2f' % @final_basket.price %> </p>
          </div>
        </div>
      </div>
      <%= link_to 'Download my list', basket_path(@final_basket, format: :pdf, retailer: @final_basket.retailer, basket: @final_basket), class: "btn btn-primary search-btn px-4" %>
    </div>
    <div class="farmer-text">
      <%= image_tag "farmer.png", alt: "farmer" %>
      <p>Your shopping basket is now ready! We found some more <span class="green">eco-friendly or seasonal products</span>, so get swapping and emit less!</p>
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col-7 d-flex justify-content-between">
      <h5 class="basket-headers">My basket</h5>
      <h5 class="basket-headers collapsible" type="button" data-toggle="collapse" data-target="#collapsable-swap" aria-expanded="false" aria-controls="collapseExample"><%= 'Suggestions' unless @final_basket.items.all? { |item| item.find_swap.nil? } %></h5>
    </div>
  </div>
  <div class="cart">
    <div class="row justify-content-center">
      <div class="basket-product-cards">
        <% @final_basket.items.each do |item| %>
          <div class="d-flex justify-content-between align-items-center">
            <div class="product-card">
              <%= image_tag "#{item.image}", class: 'product-image', alt: "alttext" %>
              <div class="product-infos">
                <div class="product-infos-left">
                  <h5 class="product-name"><%= item.name %></h5>
                  <p class="product-quantity"><%= BasketItem.where(item: item).last.amount %> x <%= item.quantity %> <%= item.unit %></p>
                </div>
                <div class="number-text">
                  <h2 class="final-emission"><%= item.emission.to_i * BasketItem.find_by(item_id: item.id).amount %></h2>
                  <div class="emit-price">
                    <h6 class="orange-emits">emits</h6>
                    <p class="final-price item"> £<%= '%.2f' % (item.price * BasketItem.find_by(item_id: item.id).amount) %> </p>
                  </div>
                </div>
              </div>
            <% if item.find_swap %>
  <!--           <div class="collapse" id="collapsable-swap"> -->
                  <%= link_to update_path(@final_basket, swap_out: item, swap_in: item.find_swap), method: :patch do %>
                    <%= image_tag "swap.png", alt: "swap item", class: "swapbutton" %>
                  <% end %>
                  <div class="product-card swap">
                    <%= image_tag "#{item.find_swap.image}", class: 'product-image', alt: "alttext" %>
                    <div class="product-infos">
                      <div class="product-infos-left">
                        <h5 class="product-name"><%= item.find_swap.name %></h5>
                        <p class="product-quantity"><%= BasketItem.where(item: item.find_swap).last.amount %> x <%= item.find_swap.quantity %> <%= item.find_swap.unit %></p>
                      </div>
                      <div class="number-text">
                        <h2 class="final-emission"><%= item.find_swap.emission.to_i * BasketItem.find_by(item_id: item.find_swap.id).amount %></h2>
                        <div class="emit-price">
                          <h6 class="orange-emits">emits</h6>
                          <p class="final-price item"> £<%= '%.2f' % (item.find_swap.price * BasketItem.find_by(item_id: item.find_swap.id).amount) %> </p>
                        </div>
                      </div>
                    </div>
                  </div>
         <!--   </div> -->
            <% end %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>


</div>

