<%= form_tag generic_items_path, method: :get do %>
  <%= text_field_tag :query,
    params[:query],
    class: "form-control",
    placeholder: "Find an item"
  %>
  <%= submit_tag "Search", class: "btn btn-primary" %>
<% end %>
<%= link_to "All", generic_items_path(category: ""), method: :get, class: "btn btn-primary" %>
<%= link_to "Meat", generic_items_path(category: "meat"), method: :get, class: "btn btn-primary" %>
<%= link_to "Seafood", generic_items_path(category: "seafood"), method: :get, class: "btn btn-primary" %>
<%= link_to "Fruits", generic_items_path(category: "fruit"), method: :get, class: "btn btn-primary" %>
<%= link_to "Vegetables", generic_items_path(category: "vegetable"), method: :get, class: "btn btn-primary" %>
<%= link_to "Dried Goods", generic_items_path(category: "dried goods"), method: :get, class: "btn btn-primary" %>

<div class="container">
  <div class="row">
    <% @generic_items.each do |item| %>
      <%= render 'shared/components/cards', item: item %>
    <% end %>

  </div>
</div>



