<div class="home-container">
  <div class="left-half">
    <div id="green-div" style="background-image: url(<%= image_path('greenbg.png') %>);">
      <div class="green-div-content">
        <p id="catch-sentence">Lowering emissions, one purchase at a time.</p>
        <%= form_tag items_path, method: :get ,class: "search-bar" do %>
          <%= text_field_tag :query,
            params[:query],
            id: "home-search-field",
            placeholder: "enter your first item"
          %>
          <%= submit_tag "Begin", id: "home-begin-btn" %>
        <% end %>
      </div>
    </div>


    <div class="how-to-wrap">
      <div class="how-to-cards">
        <div class="how-to-card" id="first-home-card">
          <%= image_tag "basket.svg", class: 'svg-home', alt: "img" %>
          <h6>Fill your <strong class="green-text">basket</strong></h6>
        </div>
        <div class="how-to-card" id="second-home-card">
          <%= image_tag "emissions.svg", class: 'svg-home', alt: "img" %>
          <h6>Lower your <strong class="green-text">emissions</strong></h6>
        </div>
        <div class="how-to-card" id="third-home-card">
          <%= image_tag "list2.svg", class: 'svg-home', alt: "img" %>
          <h6>Get your <strong class="green-text">shopping list!</strong></h6>
        </div>
      </div>

    </div>
  </div>

  <div class="image-div">
  </div>

</div>

<h1 class="navbar-header" id="emitless-home">emitless</h1>
<%= link_to "Login", new_user_session_path, id: "login-btn-home" %>
