<div class="home-wrap">
  <div class="navbar navbar-expand-sm navbar-light">
    <div class="navbar-container-home">
      <%= image_tag "emitless-logo.png", alt: "emitless logo", class: "navbar-header", id: "emitless-logo" %>
      <%= link_to "About", "#", class: "navbar-btn" %>
      <% if user_signed_in? %>
        <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "navbar-btn" %>
      <% else %>
        <%= link_to "Log in", new_user_session_path, class: "navbar-btn" %>
      <% end %>
    </div>
  </div>

  <div class="home-container">
    <div class="left-home-div">
      <h1>Lowering emissions, <br>one purchase at a time.</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint ipsa error magni, harum blanditiis quasi nobis non sed, ipsum obcaecati saepe quod tempore at repellat ducimus, debitis officia unde aut.</p>
      <%= form_tag items_path, method: :get, class: "search-bar" do %>
        <%= text_field_tag :query,
          params[:query],
          id: "home-search-field",
          class: "form-control",
          placeholder: "Search products"
        %>
        <%= submit_tag "Find my first item", id: "home-begin-btn", class: 'btn btn-primary search-btn' %>
      <% end %>
      <div id="yellow-testimonial">
        <div id="img-testimonial">
          <%= image_tag "testimonial", alt: "rory's picture" %>
        </div>
        <%= image_tag "quote.png", id: "quote", alt: "quote image" %>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos nihil aspernatur quia sit repudiandae illo atque, veritatis officia mollitia. Vero perspiciatis molestiae amet ad cupiditate saepe aliquid, excepturi harum ipsam.</p>
      </div>
    </div>

    <div class="right-home-div full-width" style="background-image: url(<%= image_path('home-vegetables.jpg') %>);"></div>
  </div>
</div>
