<div class="container grid-container">
  <div class="items">
    <div class="search-bar d-flex">
      <%= form_tag items_path, method: :get, remote: true, class:"full-search-bar" do %>
        <%= text_field_tag :query, params[:query], class: "form-control", placeholder: "Search products" %>
        <%= submit_tag "Find a product", class: "btn btn-primary search-btn" %>
      <% end %>
    </div>

    <div class="cat-row">
      <%= link_to items_path(category: ""), remote: true, method: :get, class: "category btn btn-outline-secondary" do %>
        <%= image_tag "filters/all.png", alt: "all", class: 'icon' %>
        All
      <% end %>
      <%= link_to items_path(category: "meat"), remote: true, method: :get, class: "category btn btn-outline-secondary" do %>
        <%= image_tag "filters/meat.png", alt: "meat", class: 'icon' %>
        Meat
      <% end %>
      <%= link_to items_path(category: "seafood"), remote: true, method: :get, class: "category btn btn-outline-secondary" do %>
        <%= image_tag "filters/seafood.png", alt: "seafood", class: 'icon' %>
        Seafood
      <% end %>
      <%= link_to items_path(category: "fruit"), remote: true, method: :get, class: "category btn btn-outline-secondary" do %>
        <%= image_tag "filters/fruits.png", alt: "fruits", class: 'icon' %>
        Fruits
      <% end %>
      <%= link_to items_path(category: "vegetable"), remote: true, method: :get, class: "category btn btn-outline-secondary" do %>
        <%= image_tag "filters/vegetables.png", alt: "vegetables", class: 'icon' %>
        Vegetables
      <% end %>
      <%= link_to items_path(category: "dried goods"), remote: true, method: :get, class: "category btn btn-outline-secondary" do %>
        <%= image_tag "filters/dried-food.png", alt: "Dried goods", class: 'icon' %>
        Dried Goods
      <% end %>
    </div>

    <div id="index-items">
      <%= render 'products', items: @items %>
    </div>
  </div>

  <div class="basket">
    <div class="top-bskt">
      <%= image_tag "filters/basket.png", alt: "basketimage", class: 'icon' %>
      <h2 class="yr-baskt">My basket</h2>
    </div>
    <div class="wish-items" id="wish-items-js">
      <!-- here goes the iteration for the wish list items -->

   <!--    <p id="test">
        <%= @wishes.count %>
      </p> -->
      <% @wishes.each do |wish_list_item| %>
        <%= render 'shared/components/wish_item', wish_list_item: wish_list_item %>
      <% end %>
    </div>
    <div class="con-btn">
      <%= link_to "Compare products", compare_path, class: "btn btn-primary compare-button", id:'compare-btn' %>
    </div>
    </div>
  </div>
</div>
