<%= form_tag items_path, method: :get, class:"full-search-bar" do %>

<div class="container">
  <div class="search-bar d-flex">
    <%= text_field_tag :query, params[:query], class: "form-control", placeholder: "Find an item" %>
      <%= submit_tag "Search", class: "btn btn-primary" %>
    <% end %>
  </div>
  <div class="row">
    <%= link_to "All", items_path(category: ""), method: :get, class: "category btn-primary" %>
    <%= link_to "Meat", items_path(category: "meat"), method: :get, class: "category btn-primary" %>
    <%= link_to "Seafood", items_path(category: "seafood"), method: :get, class: "category btn-primary" %>
    <%= link_to "Fruits", items_path(category: "fruit"), method: :get, class: "category btn-primary" %>
    <%= link_to "Vegetables", items_path(category: "vegetable"), method: :get, class: "category btn-primary" %>
    <%= link_to "Dried Goods", items_path(category: "dried goods"), method: :get, class: "category btn-primary" %>
  </div>
</div>

<div class="container d-flex">
  <div class="row col-9">
      <% @items.each do |item| %>
        <%= render 'shared/components/cards', item: item %>
      <% end %>
  </div>
  <div class="col-3">
    <div class="basket p-3">

      <%#= image_tag "basket", alt: "basketimage" %>
      <div class="top-bskt">
        <i class="fas fa-shopping-basket icon-baskt"></i>
        <h2 class="yr-baskt">Your Basket</h2>
      </div>
      <div class="wish-items">
        <!-- here goes the iteration for the wish list items -->
        <% current_user.wish_list_items.each do |wish_item| %>
          <div class="d-flex justify-content-between">
            <p class="wish-item"><%= wish_item.item.generic_name.capitalize %> <%= wish_item.item.generic_quantity * wish_item.amount %> <%= wish_item.item.generic_unit %> </p>
            <%= link_to wish_list_item_path(wish_item), method: :delete do %>
              <p class="wish-item"><i class="fas fa-minus"></i></p>
            <% end %>
          </div>
        <% end %>
      </div>
      <%= link_to "Compare Results", wish_list_items_path, class: "btn btn-primary compare-button" %>
      </div>
    </div>
</div>


