<h1>Your <%= @retailer.capitalize %> basket</h1>
<div class="container">
  <div class="row">
    <div class="col-8">

      <%= render 'shared/components/product_details' %>

      <% @items.each do |item| %>
        <div class="product-card">
          <% item_object = Item.find(item[1][1]) %>
          <%= image_tag "#{item_object.image}", alt: "avatar", class: "avatar-square"%>
          <%= item[1][0] %> x <%= item_object.quantity %> <%= item_object.unit %>
          <%= item_object.name %>
          <%= item_object.emission %>
          £<%= '%.2f' % item_object.price %>
        </div>
      <% end %>

    </div>
  </div>
</div>
