
<div class="col-4 mb-4">
  <div class="card">
    <img src="<%= item.image %>" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title"><%= item.generic_name.capitalize %></h5>
        <%= form_with model: WishListItem.new, url: wish_list_items_path, remote: true, class: "d-flex" do |form| %>
          <%= form.hidden_field :item_id, value: item.id %>
          <%= form.select :amount, (1..5).map { |i| ["#{item.generic_quantity * i} #{item.generic_unit}", i]}, {}, class: "dropdown-styling" %>
          <button type="submit" class="btn btn-primary add-btn">
            <i class="fas fa-plus-circle"></i>
          </button>
        </form>
        <% end %>
    </div>
  </div>
</div>


