<div class="comparison-all">
  <div class="comparison-container">
    <div class="comparison-card small-card">
      <%= image_tag "#{@basket[1][0].to_s}.png", alt: @basket[1][0].to_s, class: @basket[1][0].to_s %>
      <div class="comparison-infos">
        <h3 class="emits-small"><%= @basket[1][1][:emissions].round %></h3>
        <div class="comparison-details">
          <h6 class="orange-emits">emits</h6>
          <p>£100</p>
        </div>
      </div>

    </div>
    <div class="comparison-card big-card">
      <div class="card-top">
      <%= image_tag "#{@basket[0][0].to_s}.png", alt: @basket[0][0].to_s, class: @basket[0][0].to_s, id: "big-img" %>

        <div class="big-card-emits">
          <h3 class="emits"><%= @basket[0][1][:emissions].round %></h3>
          <div>
            <h6 class="orange-emits">emits</h6>
            <p class="price-tag">£<%= @basket[0][1][:price] %></p>
          </div>
        </div>

      </div>


        <div class="card-bottom">
          <%= link_to basket_path(retailer: @top_basket[0], basket: @top_basket[1]) do %>
            <p class="basket-link">View basket</p>
          <% end %>
        </div>

    </div>
    <div class="comparison-card small-card">
      <%= image_tag "#{@basket[2][0].to_s}.png", alt: @basket[2][0].to_s, class: @basket[2][0].to_s %>
      <div class="comparison-infos">
        <h3 class="emits-small"><%= @basket[2][1][:emissions].round%></h3>
         <div class="comparison-details">
          <h6 class="orange-emits">emits</h6>
          <p>£100</p>
        </div>
    </div>

     <div class="info-bottom">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos nihil aspernatur quia sit repudiandae illo atque, veritatis officia mollitia. Vero perspiciatis molestiae amet ad cupiditate saepe aliquid, excepturi harum ipsam.</p>
    </div>
  </div>
</div>

