<div class="comparison-all">
  <div class="comparison-container">
    <div class="comparison-card small-card small-card-left">
      <%= image_tag "#{@basket[1][0].to_s}.png", alt: @basket[1][0].to_s, class: @basket[1][0].to_s %>
      <h3 class="emits-small"><%= @basket[1][1][:emissions].round %> Emits</h3>
      <img class ="seed" src="https://www.nicepng.com/png/detail/81-813417_seed-clipart-apple-tree-seed-clipart.png" alt="small-tree">
    </div>
    <div class="comparison-card big-card">
      <%= image_tag "#{@basket[0][0].to_s}.png", alt: @basket[0][0].to_s, class: @basket[0][0].to_s, id: "big-img" %>
      <h3 class="emits"><%= @basket[0][1][:emissions].round %> Emits</h3>
      <h5 class="price-tag">Total: £<%= @basket[0][1][:price] %></h5>
      <img class= "big-tree" src="https://www.pngitem.com/pimgs/m/217-2170494_animated-trees-and-fences-animated-tree-with-branches.png" alt="big-tree">
      <%= link_to basket_path(retailer: @top_basket[0], basket: @top_basket[1]) do %>
        <%= image_tag "view.png", alt: "view your basket", class: "view-bskt-btn" %>
      <% end %>
    </div>
    <div class="comparison-card small-card small-card-right">
      <%= image_tag "#{@basket[2][0].to_s}.png", alt: @basket[2][0].to_s, class: @basket[2][0].to_s %>
      <h3 class="emits-small" id="test"><%= @basket[2][1][:emissions].round%> Emits</h3>
      <img class="medium-tree" src="https://www.kindpng.com/picc/m/55-554453_growing-plants-animation-png-transparent-png.png" alt="">
    </div>
  </div>
</div>
